{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
<div class="w3-container w3-white w3-animate-right w3-center w3-xxlarge formpage contactform">
        {% comment %}
        You could render your form using a Django rendering shortcut such as `{{ form.as_p }}` but that will tend towards unsemantic code, and make it difficult to style. You can read more on Django form at:
        https://docs.djangoproject.com/en/1.10/topics/forms/#form-rendering-options
        {% endcomment %}
    <div class="w3-container w3-padding-large">
            <form class="w3-input" action="{% pageurl page %}" method="POST" role="form">
                {% csrf_token %}
                {% if form.subject.errors %}
                    <ol role="alertdialog">
                    {% for error in form.subject.errors %}
                        <li role="alert"><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}

                <div class="w3-bar-block w3-center">
                {% for field in form %}
                    <div class="w3-bar-item w3-button w3-text-grey w3-hover-white">
                        {% comment %}
                          We can use the following to customize form:
                        `{{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}`
                        {% endcomment %}

                        {{ field }}

                    </div>
                {% endfor %}
                </div>

                   <input class="w3-button w3-teal submit" type="submit" value="Send">

            </form>
    </div>
</div>
{% endblock content %}
